
body {
    background-color: #331B5F;

}
.aa1 {
    top: 91px;
    left: 1463px;
    position: fixed;
    font-size: 20px;
    color: white;
    transition-duration: 0.5s;
}
.aa1:hover {
    color: greenyellow;
    transform: scale(1.2);
    cursor: pointer;
}
.aa1 {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
.aa2 {
    top: 91px;
    left: 1573px;
    position: fixed;
    font-size: 20px;
    color: white;
    transition-duration: 0.5s;
}
.aa2:hover {
    color: greenyellow;
    transform: scale(1.2);
    cursor: pointer;
}
.aa2 {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
.aa3 {
    top: 91px;
    left: 1660px;
    position: fixed;
    font-size: 20px;
    color: white;
    transition-duration: 0.5s;
}
.aa3:hover {
    color: greenyellow;
    transform: scale(1.2);
    cursor: pointer;
}
.aa3 {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
.aa4 {
    top: 91px;
    left: 1768px;
    position: fixed;
    font-size: 20px;
    color: white;
    transition-duration: 0.5s;
}
.aa4:hover {
    color: greenyellow;
    transform: scale(1.2);
    cursor: pointer;
}
.aa4 {
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
.a5 {
    top: 203px;
    left: 368px;
    position: absolute;
    font-size: 80px;
    color: greenyellow;
}
.q1 {
    top: 68px;
    left: 601px ;
    width: 839px;
    height: 774px;
    position: absolute;
}
.a6 {
    top: 553px;
    left: 368px;
    position: absolute;
    font-size: 28px;
    color: white;
}
.a7 {
    left: 1459px;
    top: 48px;
    position: fixed;
    padding: 0px 1px;
    transition-duration: 0.3s;
    font-size: 24px;
    border-radius: 18px;
    background-color: #0A0C4D;
    color: white;
}
.q2 {
    top: 44px;
    left: 1653px;
    position: fixed;
    width: 40px;
    height: 40px;
    transition-duration: 0.3s;
    background-color: greenyellow;
    border-radius: 9px;
}
.q2:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.q3 {
    top: 13px;
    left: 1707px;
    position: fixed;
    width: 107px;
    height: 103px;
    transition-duration: 0.3s;
}
.aa8 {
    top: 28px;
    left: 1801px;
    position: fixed;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
}
.aa8:hover {
    color: greenyellow;
    transform: scale(1.2);
    cursor: pointer;
}
.a9 {
    left: 99px;
    top: -17px;
    position: fixed;
    font-size: 60px;
    color: greenyellow;
}
.a10 {
    left: 100px;
    top: 80px;
    position: fixed;
    font-size: 24px;
    color: greenyellow;
}
.btn1 {
    position: absolute;
    top: 664px;
    left: 399px;
    padding: 33px 66px;
    color: greenyellow;
    transition-duration: 0.3s;
    font-size: 22px;
    background: none;
    border-radius: 35px;
    border-color: greenyellow;
}
.btn1:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: greenyellow;
    color: white;
    border: none;
}
.a11 {
    left: 582px;
    top: 931px;
    position: absolute;
    font-size: 60px;
    color: greenyellow;
}
.q4 {
    top: 1151px;
    left: 23px;
    position: absolute;
    width: 755px;
    height: 612px;
    transition-duration: 0.3s;
}
.q4:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.btn2 {
    border-color: greenyellow;
}
.q5 {
    top: -106px;
    left: 296px;
    position: absolute;
    width: 1607px;
    height: 1198px;
}
.q6 {
    top: 1164px;
    left: 7px;
    position: absolute;
    width: 718px;
    height: 590px;
    transition-duration: 0.3s;
}
.q6:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.q7 {
    top: 1164px;
    left: 1148px;
    position: absolute;
    width: 718px;
    height: 590px;
    transition-duration: 0.3s;
}
.q7:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.q8 {
    top: 1164px;
    left: 579px;
    position: absolute;
    width: 718px;
    height: 590px;
    transition-duration: 0.3s;
}
.q8:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.q10 {
    top: 1197px;
    left: 0px;
    position: absolute;
    width: 1902px;
    height: 516px;
}
.a12 {
    left: 230px;
    top: 1889px;
    position: absolute;
    font-size: 40px;
    color: greenyellow;
}
.a13 {
    left: 247px;
    top: 2097px;
    position: absolute;
    font-size: 23px;
    color: white;
}
.q9 {
    top: 1824px;
    left: 927px;
    position: absolute;
    width: 971px;
    height: 728px;
}
.a14 {
    left: 755px;
    top: 2827px;
    position: absolute;
    font-size: 40px;
    color: greenyellow;
}
.q11 {
    top: 2974px;
    left: 280px;
    position: absolute;
    width: 395px;
    height: 415px;
    filter: brightness(80%);
}
.a15 {
    left: 314px;
    top: 3169px;
    position: absolute;
    font-size: 31px;
    color: greenyellow;
    transition-duration: 0.3s;
}
.a15:hover {
    transform: scale(1.05);
    cursor: pointer ;
}
.q12 {
    top: 2996px;
    left: 686px;
    position: absolute;
    width: 448px;
    height: 338px;
    filter: brightness(80%);
}
.a16 {
    left: 752px;
    top: 3169px;
    position: absolute;
    font-size: 31px;
    color: greenyellow;
    transition-duration: 0.3s;
}
.a16:hover {
    transform: scale(1.05);
    cursor: pointer ;
}
.q13 {
    top: 2996px;
    left: 1170px;
    position: absolute;
    width: 392px;
    height: 338px;
    filter: brightness(50%);
}
.a17 {
    left: 1198px;
    top: 3169px;
    position: absolute;
    font-size: 31px;
    color: greenyellow;
    transition-duration: 0.3s;
}
.a17:hover {
    transform: scale(1.05);
    cursor: pointer ;
}
.q14 {
    top: 2269px;
    left: -184px;
    position: absolute;
    width: 529px;
    height: 605px;
    filter: brightness(80%);
}
.q15 {
    top: 2371px;
    left: -63px;
    position: absolute;
    width: 644px;
    height: 820px;
    filter: brightness(80%);
}
.q16 {
    top: 4051px;
    left: 0px;
    position: absolute;
    width: 1903px;
    height: 410px;
}
.btn3 {
    top: 3392px;
    left: 728px;
    position: absolute;
    padding: 37px 90px;
    border-radius: 70px;
    background: none;
    font-size: 26px;
    border-color: greenyellow;
    color: greenyellow;
    transition-duration: 0.3s;
}
.btn3:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: white;
    background-color: greenyellow;
}
.a18 {
    position: absolute;
    top: 3596px;
    left: 635px;
    font-size: 35px;
    color: white;
    text-align: center;
}
.btn5 {
    top: 3805px;
    left: 555px;
    position: absolute;
    padding: 14px 292px;
    border-radius: 70px;
    background: none;
    font-size: 26px;
    border-color: greenyellow;
    color: white;
    text-align: left;
}
.btn5:hover{
    cursor: pointer;
}
.btn4 {
    top: 3805px;
    left: 1045px;
    position: absolute;
    padding: 14px 40px;
    border-radius: 70px;
    background: none;
    font-size: 26px;
    border-color: greenyellow;
    color: greenyellow;
    background-color: #0A0C4D;
}
.btn4:hover{
    cursor: pointer;
    color: white;
    background-color: greenyellow;
}
.a19 {
    left: 100px;
    top: 3992px;
    position:absolute;
    font-size: 100px;
    color: greenyellow;
}
.a20 {
    left: 100px;
    top: 4166px;
    position: absolute;
    font-size: 34px;
    color: greenyellow;
}
.q21 {
    top: 4051px;
    left: 1200px;
    position: absolute;
    width: 400px;
    height: 410px;
    rotate: 20deg;
}
.q22 {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 1903px;
    height: 900px;
    filter: brightness(40%);
}
.q23 {
    top: 2645px;
    left: 0px;
    position: absolute;
    width: 1903px;
    height: 1407px;
    filter: brightness(23%);
}
.q24 {
    top: 21px;
    left: 483px;
    position: absolute;
    width: 450px;
    height: 536px;
    
}
.q25 {
    top: 21px;
    left: 1117px;
    position: absolute;
    width: 450px;
    height: 536px;
    transform: scale(-1,1);
}
.a21 {
    left: 516px;
    top: 4124px;
    position: absolute;
    font-size: 26px;
    color: greenyellow;
}
.a22 {
    left: 516px;
    top: 4175px;
    position: absolute;
    font-size: 40px;
    color: greenyellow;
}
.a23 {
    left: 516px;
    top: 4242px;
    position: absolute;
    font-size: 40px;
    color: greenyellow;
}
.a24 {
    left: 516px;
    top: 4309px;
    position: absolute;
    font-size: 40px;
    color: greenyellow;
}
.a25 {
    left: 936px;
    top: 4124px;
    position: absolute;
    font-size: 26px;
    color: greenyellow;
}
.a26 {
    left: 950px;
    top: 4175px;
    position: absolute;
    font-size: 40px;
    color: greenyellow;
}
.a27 {
    left: 950px;
    top: 4242px;
    position: absolute;
    font-size: 40px;
    color: greenyellow;
}
.a28 {
    left: 950px;
    top: 4309px;
    position: absolute;
    font-size: 40px;
    color: greenyellow;
}
.q26 {
    top: 4087px;
    left: 1399px;
    position: absolute;
    width: 242px;
    height: 336px;
}
.q27 {
    top: 4083px;
    left: 1475px;
    position: absolute;
    width: 330px;
    height: 323px;
    filter: brightness(60%);
}